div.auth-signin {
  margin-top: 100px;
  justify-content: center;
  align-items: center;
}
div.auth-signin form {
  padding: 10px 25px;
  box-shadow: var(--boxShadow);
  border-radius: 5px;
}
div.auth-signin form div.header {
  width: 100px;
  height: 100px;
  background-color: var(--mainColor);
  text-align: center;
  line-height: 100px;
  border-radius: 50%;
  color: #fff;
  font-size: 44px;
  margin: -50px auto;
  margin-bottom: 25px;
}
div.auth-signin form > div.form-group {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
div.auth-signin form > div.form-group > i {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 30px;
  background-color: var(--mainColor);
  line-height: 40px;
  text-align: center;
  color: #fff;
}
div.auth-signin form div.form-group > h4 {
  text-align: center;
}
div.auth-signin form div.form-group > button {
  width: 100%;
  background-color: var(--mainColor);
  color: #fff;
}
div.auth-signin form div.form-group > input {
  text-indent: 40px;
}
div.auth-signin form > div.form-group > i.fa-circle-exclamation,
div.auth-signin form > div.form-group > i.fa-check {
  left: calc(100% - (30px + 15px));
  color: #f00;
  background-color: transparent;
}
div.auth-signin form > div.form-group > i.fa-check {
  color: #080;
}
form div.input-err-msg {
  color: #f00;
  font-size: 13px;
  font-weight: bold;
  padding-left: 40px;
}
