::root {
  --mainColor: #dca523;
  --textColor: #616161;
  --boxShadow: 1px 1px 3px #ccc, -1px -1px 3px #ccc;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: revert;
  text-transform: capitalize;
}
a {
  color: inherit;
  text-decoration: none;
}
button,
input {
  display: block;
  border: none;
  outline: none;
  inline-size: 0px;
  height: 40px;
  border-radius: 20px;
}
input {
  text-indent: 25px;
  border: 2px solid #ccc;
  width: 100%;
}
